/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&display=swap');

/* custom properties */
:root {
  --off-white: #f2f2f2;
  --black: rgba(0, 0, 16, 0.8);
  --dark-grey: rgba(0, 0, 16, 0.65);
  --light-grey: rgba(0, 0, 16, 0.3);
  --lighter-grey: rgba(0, 0, 16, 0.1);
  --blue: #0d71e3;
  --dark-blue: #0158bb;
  --light-blue: #1dc3ff;
  --lighter-blue: #91e2ff;
  --lightest-blue: #f7fbff;
  --green: #00cc4f;
  --orange: #ffb144;
  --disabled: rgba(0, 0, 16, 0.25);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.2),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  --bottom-shadow: 0 0.3rem 0.3rem rgba(0, 0, 16, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

/* resets */
body,
html {
  height: 100vh;
  background-color: var(--off-white);
  font-family: 'Lato', sans-serif;
  color: var(--black);
}

/* header */
header {
  background: var(--blue);
  width: 100%;
}

header h1 {
  color: var(--off-white);
  font-size: 1.4rem;
  padding: 1.5rem 1.25rem;
}

ion-icon {
  color: var(--dark-grey);
}

.instructions {
  position: relative;
  color: white;
  background-color: var(--black);
  width: 100%;
  height: auto;
}

.instructions.close {
  height: 1.75rem;
}

.instructions-text {
  visibility: visible;
  font-size: 1rem;
  text-align: left;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}

.instructions-text.close {
  visibility: hidden;
}

.instructions-toggle ion-icon {
  color: #fff;
  font-size: 1.35rem;
  position: absolute;
  right: 0.875rem;
  top: 0.7rem;
  transition: all 300;
  cursor: pointer;
}

.instructions-toggle.close ion-icon {
  opacity: 0.7;
  transform: rotate(45deg);
  top: 0.1625rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .instructions p {
    text-align: center;
    letter-spacing: 1px;
  }
}

/* ABV and IBU filters */
.filters-container {
  background-color: white;
  width: 100%;
  height: auto;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid var(--light-grey);
  z-index: 999;
}

.filters {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 800px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1.25rem 0rem;
}

.filter-text {
  color: var(--black);
  margin: 0.75rem 0;
  text-align: left;
}

.filter {
  background-color: var(--black);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.25rem;
  max-width: 180px;
}

.filter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
}

.filter-all + span {
  font-size: 1em;
  color: var(--off-white);
  padding: 0 0.5rem 0 1rem;
}

@media (min-width: 450px) {
  .filters {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .filter-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-container {
    flex-direction: column;
    padding: 0 0 0.5rem;
  }

  .filter-text {
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width: 700px) {
  .filters {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.625rem 1.25rem;
    width: 100%;
    max-width: 780px;
  }

  .filters-container {
    padding-bottom: 0;
  }

  .filter-container {
    flex-direction: row;
    padding: 0;
  }

  .filter-card {
    align-items: flex-start;
  }

  .filter-text {
    margin-right: 0.75rem;
  }
}

svg {
  fill: var(--off-white);
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
}

input + span,
input + svg {
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-all:hover,
.filter-all:checked + span,
.filter-all:focus + span {
  color: var(--light-blue);
}

.beer:hover,
.beer:checked + svg,
.beer:focus + svg {
  fill: var(--orange);
}

.hops:hover,
.hops:checked + svg,
.hops:focus + svg {
  fill: var(--green);
}

.sortby-pagination-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1.25rem;
  background-color: var(--off-white);
  border-bottom: 1px solid var(--light-grey);
  z-index: 106;
}

/* Sticky toolbar */
.sticky {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.sortby-pagination {
  width: 100%;
  display: flex;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
}

/* Sort by dropdown menu*/
.dropdown {
  display: block;
  position: relative;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 165px;
  background: white;
  color: var(--dark-grey);
  padding: 0.75em 0.5em 0.75em 0.85em;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  border: 1px solid var(--light-grey);
  border-radius: 0.3em;
  cursor: pointer;
  overflow: hidden;
}

.dropdown-btn.open {
  border-radius: 0.3em 0.3em 0 0;
}

.dropdown-btn ion-icon,
.dropdown-content ion-icon {
  font-size: 1.5rem;
  color: var(--dark-grey);
}

.dropdown-btn ion-icon {
  margin-top: 0.1rem;
}

.dropdown-btn.open ion-icon {
  transform: rotate(-180deg);
}

.dropdown-content {
  height: 0;
  left: 0;
  top: 100%;
  opacity: 0;
  position: absolute;
  background: #fff;
  min-width: 100%;
  box-shadow: var(--bottom-shadow);
  border: 1px solid var(--light-grey);
  border-top: none;
  border-radius: 0;
  transition: all 0.25ms ease;
  z-index: 106;
  pointer-events: none;
}

.dropdown-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-grey);
  padding: 0.75em 0.5em 0.75em 0.85em;
  text-decoration: none;
  display: block;
  transition: 250ms;
  background: white;
}

.dropdown-content.active {
  height: auto;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

a.current {
  background: var(--lighter-blue);
  pointer-events: none;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background: var(--lighter-grey);
}

a.sort-option,
a.results-per-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-option ion-icon,
.results-per-option ion-icon {
  visibility: hidden;
  color: var(--dark-grey);
}

.current ion-icon {
  visibility: visible;
}

@media (min-width: 768px) {
  .dropdown-content a {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .sortby-pagination {
    max-width: 850px;
  }

  .dropdown-btn {
    min-width: 175px;
    padding: 0.75em 0.75em 0.75em 1em;
  }

  .dropdown-content a {
    padding: 0.75em 0.75em 0.75em 1em;
  }
}

/* List and grid icons */
.grid-list-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  padding: 0.75rem 1rem 1rem;
  margin-top: -0.2rem;
}

@media (min-width: 700px) {
  .grid-list-container {
    display: flex;
  }
}

.layout ion-icon {
  background: transparent;
  font-size: 1.75rem;
  color: var(--dark-blue);
  margin-bottom: -0.5rem;
  transition: color 0.2s ease;
}

.list-view ion-icon {
  font-size: 2.3rem;
}

.disabled ion-icon {
  color: var(--disabled);
  cursor: pointer;
}

.layout ion-icon:hover {
  color: var(--dark-blue);
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  height: auto;
}

.pagination-text {
  font-size: 1.1rem;
}

.page-btn {
  background: transparent;
  font-size: 2.5rem;
  color: var(--black);
  transition: color 0.3s ease;
  margin-bottom: -0.4rem;
}

.page-btn:hover {
  color: var(--blue);
}

.page-btn:disabled {
  cursor: default;
  visibility: hidden;
}

.results-per-page {
  display: none;
}

@media (min-width: 600px) {
  .results-per-page {
    display: block;
  }
}

/* Toggle between grid and list view */
.beers-grid {
  display: none;
  opacity: 0;
  transition: 2s all;
}

.beers-grid.active {
  display: grid;
  animation-name: resultsFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.beers-list {
  display: none;
  flex-direction: column;
}

.beers-list.active {
  display: flex;
  animation-name: resultsFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.beers-grid {
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  grid-gap: 0.75rem;
  opacity: 1;
  padding-top: 0.5rem;
}

.beers-container.fade-in {
  animation-name: resultsFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes resultsFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Grid view */
.card {
  display: flex;
  background-color: white;
  box-shadow: var(--shadow);
  cursor: auto;
}

.beer-wrapper {
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.beer--card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  background-color: white;
  text-align: center;
  width: 100%;
  pointer-events: none;
  opacity: 1;
  z-index: 98;
  transition: opacity 0.5s ease;
}

.beer--name {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0 1.25rem 0;
}

.beer--img {
  margin: auto;
  padding: 2rem 1rem 1rem;
  height: 16rem;
  width: auto;
}

.beer--info {
  display: flex;
  justify-content: space-between;
  color: var(--dark-grey);
}

.toggle--info-bg {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 105;
}

.toggle--text {
  position: absolute;
  height: 1.75em;
  top: 0.9em;
  left: 0.9em;
  font-size: 1em;
  cursor: pointer;
  opacity: 1;
  color: var(--dark-grey);
  z-index: 105;
}

.toggle--text:after {
  content: '+';
}

.toggle--text.open:after {
  content: '-';
}

.toggle--text:hover,
.toggle--text:focus {
  color: var(--black);
}

.beer--content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.25rem 1.75rem 1.75rem;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: scroll;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 104;
}

.beer--content.show-content {
  opacity: 0.95;
}

.beer--name {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1;
  color: var(--dark-blue);
}

.beer--tagline {
  padding-bottom: 0.5rem;
  font-style: italic;
  border-bottom: 2px solid var(--light-grey);
}

.beer--description {
  margin: 1rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

/* List view */
.card--list-container {
  width: 100%;
  background-color: #fff;
  margin: auto;
  margin-bottom: 0.275rem;
  border-bottom: 1px solid var(--light-grey);
}

.card-list {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

.beer--card-list {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #fff;
}

@media (min-width: 450px) {
  .beer--card-list {
    padding: 1rem 1.25rem;
  }
}

.beer--img-list-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.beer--img-list {
  max-height: 100px;
  padding-right: 0.25rem;
  margin-bottom: -0.2rem;
}

.beer--info-list {
  display: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.25rem 0.25rem 1rem;
}

.beer--name-list {
  color: var(--dark-blue);
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 0.425rem;
  border-bottom: 0.1rem solid var(--lighter-grey);
}

.beer--tagline-list {
  font-size: 0.95rem;
  font-style: italic;
  color: var(--dark-grey);
  padding-top: 0.25rem;
}

.beer--bottom-info-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.beer--details-list {
  color: var(--dark-grey);
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

@media (min-width: 400px) {
  .beer--details-list {
    width: 60%;
    max-width: 200px;
  }
}

/* Beer description toggle */
.beer--description-toggle-list {
  position: absolute;
  color: var(--dark-grey);
  font-size: 1.325rem;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.25rem;
  right: 0.625rem;
  bottom: 0.5rem;
}

.beer--description-toggle-list.open {
  transform: rotate(180deg);
}

.beer--description-list-container {
  width: 100%;
  height: 0;
  display: none;
  background-color: #fff;
}

.beer--description-list-container.open {
  width: 100%;
  height: auto;
  display: block;
  max-width: 850px;
}

.beer--description-list {
  font-size: 0.925rem;
  background-color: #fff;
  line-height: 1.45rem;
  max-width: 85%;
  margin: auto;
  padding: 0.5rem 1.25rem 1.5rem;
}

@media (min-width: 450px) {
  .beer--description-toggle-list {
    right: 1rem;
  }
}

@media (min-width: 700px) {
  .beer--card-list {
    padding: 1rem 2.5rem 1rem;
  }

  .beer--tagline-list {
    padding-top: 0.425rem;
  }

  .beer--details-list {
    width: 35%;
  }

  .beer--description-list {
    padding-right: 1rem;
    padding-left: 7.5rem;
  }

  .beer--description-toggle-list {
    right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .beer--description-list {
    font-size: 0.95rem;
    max-width: 75%;
    padding-right: 3rem;
    padding-left: 4.4rem;
  }

  .beer--card-list {
    padding: 1rem 3rem 1rem 2rem;
  }

  .card-list {
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .card-list {
    max-width: 950px;
    margin: auto;
  }

  .beer--card-list {
    padding-left: 1.25rem;
  }

  .beer--description-list-container.open {
    max-width: 950px;
  }

  .beer--description-list {
    padding-left: 4rem;
  }
}
