/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&display=swap');

/* custom properties */
:root {
  --off-white: #f2f2f2;
  --black: rgba(0, 0, 16, 0.8);
  --dark-grey: rgba(0, 0, 16, 0.65);
  --light-grey: rgba(0, 0, 16, 0.3);
  --lighter-grey: rgba(0, 0, 16, 0.1);
  --blue: #0d71e3;
  --dark-blue: #0158bb;
  --light-blue: #1dc3ff;
  --lighter-blue: #91e2ff;
  --lightest-blue: #f7fbff;
  --green: #00cc4f;
  --orange: #ffb144;
  --disabled: rgba(0, 0, 16, 0.25);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.2),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  --bottom-shadow: 0 0.3rem 0.3rem rgba(0, 0, 16, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .beers + * {
  pointer-events: none;
} */

button {
  padding: 0;
  cursor: pointer;
}

/* resets */
body,
html {
  height: 100vh;
  background-color: var(--off-white);
  font-family: 'Lato', sans-serif;
  color: var(--black);
}

/* header */
header {
  background: var(--blue);
  width: 100%;
}

header h1 {
  color: var(--off-white);
  font-size: 1.4rem;
  padding: 1.5rem 1.25rem;
}

.instructions {
  color: white;
  background-color: var(--black);
  width: 100%;
}

.instructions p {
  font-size: 1rem;
  text-align: left;
  padding: 1rem 1.25rem;
}

@media (min-width: 768px) {
  .instructions p {
    text-align: center;
    letter-spacing: 1px;
  }
}

/* main container */
/* .container {
  padding: 1rem 1.25rem;
} */

.filters-container {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--light-grey);
  z-index: 999;
}

.filters {
  display: flex;
  flex-direction: column;
  height: auto;
}

@media (min-width: 500px) {
  .filters-container {
    padding: 0.25rem 0;
  }

  .filters {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0.25rem;
  }
}

@media (min-width: 768px) {
  .filters {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    max-width: 900px;
  }
}

.filter-card {
  width: 100%;
}

@media (min-width: 500px) {
  .filter-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 220px;
  }
}

@media (min-width: 768px) {
  .filter-card {
    align-items: center;
    max-width: 380px;
  }
}

@media (min-width: 1024px) {
  .filter-card:first-of-type {
    margin-right: 5em;
  }
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
}

@media (min-width: 500px) {
  .filter-container {
    flex-direction: column;
    padding: 0 0 0.5rem 0;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .filter-container {
    flex-direction: row;
    max-width: 380px;
    padding: 0;
  }
}

.filter-text p {
  color: var(--black);
  font-size: 1rem;
  margin: 0.75rem 0;
  text-align: left;
}

@media (min-width: 500px) {
  .filter-text p {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .filter-text p {
    margin-right: 0.75rem;
  }
}

.filter {
  background-color: var(--black);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.25rem;
  max-width: 180px;
}

.filter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
}

.filter-all + span {
  font-size: 1em;
  color: var(--off-white);
  padding: 0 0.5rem 0 1rem;
}

svg {
  fill: var(--off-white);
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
}

input + span,
input + svg {
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-all:hover,
.filter-all:checked + span,
.filter-all:focus + span {
  color: var(--light-blue);
}

.beer:hover,
.beer:checked + svg,
.beer:focus + svg {
  fill: var(--orange);
}

.hops:hover,
.hops:checked + svg,
.hops:focus + svg {
  fill: var(--green);
}

.sortby-pagination-container {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.75rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-white);
  border-bottom: 1px solid var(--light-grey);
  z-index: 105;
}

.sticky {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.sortby-pagination {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-white);
}

@media (min-width: 1024px) {
  .sortby-pagination {
    justify-content: space-between;
    max-width: 800px;
    /* padding: 0.85em 0.75em 0 0.3em; */
  }
}

/* Sort by */
.dropdown {
  display: block;
  position: relative;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 185px;
  background: white;
  color: var(--dark-grey);
  padding: 0.85em 1em 0.9em;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  border: 1px solid var(--light-grey);
  border-radius: 0.3em;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 767px) {
  .dropdown-btn {
    min-width: 150px;
  }
}

.dropdown-btn.open {
  border-radius: 0.3em 0.3em 0 0;
}

.dropdown-btn i {
  margin-left: 1.2em;
  color: var(--dark-grey);
}

@media (min-width: 768px) {
  .dropdown-btn {
    padding: 0.85em 1.2em 0.95em;
    font-size: 1.1em;
  }
}

.dropdown-btn.open i {
  transform: rotate(-180deg);
}

.dropdown-content {
  height: 0;
  left: 0;
  top: 100%;
  opacity: 0;
  position: absolute;
  background: #fff;
  min-width: 100%;
  /* min-width: 180px; */
  box-shadow: var(--bottom-shadow);
  border: 1px solid var(--light-grey);
  border-top: none;
  border-radius: 0 0 0.3em 0.3em;
  transition: all 600ms ease;
  z-index: 106;
  pointer-events: none;
}

.dropdown-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-grey);
  padding: 0.9em 1em 0.9em 1.25em;
  text-decoration: none;
  display: block;
  transition: 250ms;
  background: white;
}

@media (min-width: 768px) {
  .dropdown-content {
    max-width: 170px;
  }

  .dropdown-content a {
    font-size: 1.1em;
  }
}

.dropdown-content.active {
  height: auto;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

a.current {
  background: var(--lighter-blue);
  pointer-events: none;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background: var(--lighter-grey);
}

a.sort-option,
a.results-per-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-option i,
.results-per-option i {
  visibility: hidden;
  color: var(--dark-grey);
}

.current i {
  visibility: visible;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-buttons {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}

.pagination-text {
  font-size: 1.1rem;
  margin: 0 0.3em;
}

.page-btn {
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: -0.5rem;
  transition: color 0.3s ease;
}

@media (min-width: 768px) {
  .pagination {
    justify-self: flex-start;
  }

  .page-text {
    font-size: 1.2em;
  }
}

.page-btn:hover {
  color: var(--blue);
}

.page-btn:disabled {
  cursor: default;
  color: var(--disabled);
}

.results-per-page {
  display: none;
}

@media (min-width: 600px) {
  .results-per-page {
    display: block;
  }
}

/* beers */
/* .beers-container {
  padding: 0 1rem 1rem;
} */

.beers-grid {
  display: none;
}

.beers-list {
  display: flex;
  flex-direction: column;
}

/* .beers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1rem;
  opacity: 1;
} */

.beers-container.fade-in {
  -webkit-animation-name: resultsFadeIn;
  -webkit-animation-duration: 750ms;
  animation-name: resultsFadeIn;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}

/* Animation */
@keyframes resultsFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes resultsFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  display: flex;
  background-color: white;
  box-shadow: var(--shadow);
  cursor: auto;
}

.beer-wrapper {
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.beer--card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.75rem 1.5rem 1.5rem;
  background-color: white;
  text-align: center;
  width: 100%;
  pointer-events: none;
  opacity: 1;
  z-index: 98;
  transition: opacity 0.5s ease;
}

.beer--name {
  margin: 1em auto 1.2em;
  font-size: 1.2em;
  font-weight: 600;
}

.beer--img {
  margin: auto;
  height: 16em;
  margin: 1em auto 0.5em;
}

.beer--info {
  display: flex;
  justify-content: space-between;
  color: var(--dark-grey);
}

.toggle--info-bg {
  position: absolute;
  width: 100%;
  height: 2.65em;
  top: 0;
  left: 0;
  border-top: 1px solid rgba(0, 0, 16, 0.15);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 105;
}

.toggle--text {
  position: absolute;
  height: 1.75em;
  top: 0.9em;
  left: 0.9em;
  font-size: 1em;
  cursor: pointer;
  opacity: 1;
  color: var(--dark-grey);
  z-index: 105;
}

.toggle--text:after {
  content: '+';
}

.toggle--text.open:after {
  content: '-';
}

.toggle--text:hover,
.toggle--text:focus {
  color: var(--black);
}

.beer--content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3.7em 1.75em 2em;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: scroll;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 104;
}

.beer--content.show-content {
  opacity: 0.95;
}

.beer--content .beer--name {
  margin: -0.4em auto 0.75em;
  font-size: 1.5rem;
  line-height: 1.1;
  color: var(--dark-grey);
}

.beer--tagline {
  padding-bottom: 0.5rem;
  font-style: italic;
  border-bottom: 2px solid var(--blue);
}

.beer--description {
  margin: 1rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

/* List view */
.beers-container.list-view {
  padding: 0;
}

.card-list {
  padding: 0;
  margin-bottom: 0.275rem;
  border-bottom: 1px solid var(--light-grey);
}

.beer--card-list {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #fff;
}

.beer--img-list-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.beer--img-list {
  max-height: 95px;
  padding: 0 0.25rem;
}

.beer--info-list {
  display: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.25rem 0.25rem 1rem;
}

.beer--name-list {
  color: var(--dark-blue);
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 0.425rem;
  border-bottom: 0.1rem solid var(--lighter-grey);
}

.beer--tagline-list {
  font-size: 0.95rem;
  font-style: italic;
  color: var(--dark-grey);
  padding-top: 0.25rem;
}

.beer--bottom-info-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: pink; */
  padding-top: 0.5rem;
}

.beer--details-list {
  color: var(--dark-grey);
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.beer--description-toggle-list {
  position: absolute;
  color: var(--dark-grey);
  font-size: 1.325rem;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.25rem;
  right: 0.625rem;
  bottom: 0.25rem;
}

.beer--description-toggle-list.open {
  transform: rotate(-180deg);
}

.beer--description-list-container {
  display: none;
  height: 0;
  transition: all 1s;
}

.beer--description-list-container.open {
  display: block;
  height: 100%;
}

.beer--description-list {
  font-size: 0.9rem;
  padding: 0.75rem 2rem 2rem;
  background-color: #fff;
  line-height: 1.3rem;
}

/* .toggle-beer-description-list {
  position: absolute;
  right: 1rem;
} */
